<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netplus.catpark.dao.generator.ParkingSpaceMapper">
  <resultMap id="BaseResultMap" type="com.netplus.catpark.domain.po.ParkingSpace">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="parking_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="parking_space_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parking_space_status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="longitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="latitude" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="position_geo_hash" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gmt_update" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleted" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, parking_id, parking_space_id, parking_space_status, longitude, latitude, position_geo_hash, 
    gmt_create, gmt_update, deleted
  </sql>
  <select id="selectByExample" parameterType="com.netplus.catpark.domain.po.ParkingSpaceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from parking_space
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parking_space
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from parking_space
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.netplus.catpark.domain.po.ParkingSpace">
    insert into parking_space (id, parking_id, parking_space_id, 
      parking_space_status, longitude, latitude, 
      position_geo_hash, gmt_create, gmt_update, 
      deleted)
    values (#{id,jdbcType=BIGINT}, #{parkingId,jdbcType=BIGINT}, #{parkingSpaceId,jdbcType=VARCHAR}, 
      #{parkingSpaceStatus,jdbcType=TINYINT}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{positionGeoHash,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.netplus.catpark.domain.po.ParkingSpace">
    insert into parking_space
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parkingId != null">
        parking_id,
      </if>
      <if test="parkingSpaceId != null">
        parking_space_id,
      </if>
      <if test="parkingSpaceStatus != null">
        parking_space_status,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="positionGeoHash != null">
        position_geo_hash,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parkingId != null">
        #{parkingId,jdbcType=BIGINT},
      </if>
      <if test="parkingSpaceId != null">
        #{parkingSpaceId,jdbcType=VARCHAR},
      </if>
      <if test="parkingSpaceStatus != null">
        #{parkingSpaceStatus,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="positionGeoHash != null">
        #{positionGeoHash,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update parking_space
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.parkingId != null">
        parking_id = #{record.parkingId,jdbcType=BIGINT},
      </if>
      <if test="record.parkingSpaceId != null">
        parking_space_id = #{record.parkingSpaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.parkingSpaceStatus != null">
        parking_space_status = #{record.parkingSpaceStatus,jdbcType=TINYINT},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.positionGeoHash != null">
        position_geo_hash = #{record.positionGeoHash,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdate != null">
        gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update parking_space
    set id = #{record.id,jdbcType=BIGINT},
      parking_id = #{record.parkingId,jdbcType=BIGINT},
      parking_space_id = #{record.parkingSpaceId,jdbcType=VARCHAR},
      parking_space_status = #{record.parkingSpaceStatus,jdbcType=TINYINT},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      position_geo_hash = #{record.positionGeoHash,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netplus.catpark.domain.po.ParkingSpace">
    update parking_space
    <set>
      <if test="parkingId != null">
        parking_id = #{parkingId,jdbcType=BIGINT},
      </if>
      <if test="parkingSpaceId != null">
        parking_space_id = #{parkingSpaceId,jdbcType=VARCHAR},
      </if>
      <if test="parkingSpaceStatus != null">
        parking_space_status = #{parkingSpaceStatus,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="positionGeoHash != null">
        position_geo_hash = #{positionGeoHash,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netplus.catpark.domain.po.ParkingSpace">
    update parking_space
    set parking_id = #{parkingId,jdbcType=BIGINT},
      parking_space_id = #{parkingSpaceId,jdbcType=VARCHAR},
      parking_space_status = #{parkingSpaceStatus,jdbcType=TINYINT},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      position_geo_hash = #{positionGeoHash,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>