HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
#src/main/java/com/netplus/catpark/annotatior/
#src/main/java/com/netplus/catpark/domain/enums/
#src/main/java/com/netplus/catpark/filter/
#src/main/resources/static/
#src/main/resources/templates/
