<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netplus.catpark.dao.define.UserParkingOrderTableDefineMapper">
    <update id="cancelOrder">
        UPDATE user_parking_order_table
        SET order_status = 3
        WHERE order_id = #{orderId} and deleted = 0
    </update>

    <select id="getOrderListByOrder" parameterType="list" resultType="com.netplus.catpark.domain.po.UserParkingOrderTable">
        SELECT *
        FROM user_parking_order_table
        WHERE order_id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND deleted = 0
    </select>
</mapper>