<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netplus.catpark.dao.define.UserParkingDefineMapper">
    <select id="getNearbyParking" parameterType="string" resultType="com.netplus.catpark.domain.po.UserParking">
        SELECT *
        FROM user_parking
        WHERE position_geo_hash
        LIKE CONCAT (#{geoHash},'%')
        AND deleted = 0
    </select>

    <select id="getUserParkingByParkingId" parameterType="list" resultType="com.netplus.catpark.domain.po.UserParking">
        SELECT *
        FROM user_parking
        WHERE id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND deleted = 0;
    </select>
</mapper>